<div class="banner max-w-full mb-6">
  <img
    class="h-[500px] w-full"
    src="../../../assets/public/images/banner.png"
    alt=""
  />
</div>
<div class="max-w-[1440px] mx-auto">
  <!-- DINO SAUR SERVICES -->
  <div class="flex items-center justify-around mb-12">
    <div class="flex items-center gap-5">
      <div>
        <i class="text-[40px] text-[#96e564] fa-solid fa-truck"></i>
      </div>
      <div>
        <h3 class="font-bold mb-2">Giao hàng miễn phí</h3>
        <p class="text-gray-500 w-[250px]">
          Dino Saur sẽ miễn phí ship toàn bộ đơn hàng của bạn
        </p>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <div>
        <i class="text-[40px] text-[#96e564] fa-solid fa-rotate-left"></i>
      </div>
      <div>
        <h3 class="font-bold mb-2">Chính sách hoàn trả</h3>
        <p class="text-gray-500 w-[250px]">
          Dino Saur sẽ hoàn trả cho bạn nếu như sản phẩm có vấn đề
        </p>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <div>
        <i class="text-[40px] text-[#96e564] fa-solid fa-phone"></i>
      </div>
      <div>
        <h3 class="font-bold mb-2">Hỗ trợ</h3>
        <p class="text-gray-500 w-[250px]">Dino Saur luôn luôn hỗ trợ 24/7</p>
      </div>
    </div>
  </div>
  <div>
    <!-- ĐỒ CHƠI NỔI BẬT -->
    <div>
      <app-hotproduct></app-hotproduct>
    </div>
    <!-- ĐỒ CHƠI GIẢM GIÁ -->
    <div>
      <app-discountproduct></app-discountproduct>
    </div>
    <!-- ĐỒ CHƠI LẮP RÁP-->
    <app-legoproduct></app-legoproduct>
    <!-- ĐỒ CHƠI MÔ HÌNH -->
    <app-modeltoys></app-modeltoys>
    <!-- CÁC BÀI BÁO -->
    <div>
      <div class="inline-flex items-center justify-center w-full mb-6">
        <hr class="w-full h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
        <span
          class="absolute p-3 rounded-lg font-BOLD text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-[#313131]"
          >CẨM NANG ĐỒ CHƠI</span
        >
      </div>
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="border border-gray-500 shadow-sm">
          <img
            src="https://marketplace.canva.com/EAEygC3Vm_s/1/0/1600w/canva-orange-collage-toys-discount-banner-rSw5tj1gayE.jpg"
            alt=""
          />
          <div class="px-5 py-4">
            <h2 class="w-[400px] mb-3 font-bold text-[20px]">
              6 đồ chơi dân gian cho không khi tết thêm nhộn nhịp
            </h2>
            <p class="w-[400px] text-gray-400 font-sans">
              Đồ chơi dân gian không khí giúp trẻ em thêm hào hứng và vui vẻ
              trong dịp tết, mà còn gợi nhắc người lớn về...
            </p>
          </div>
        </div>
        <div class="border border-gray-500 shadow-sm">
          <img
            src="https://marketplace.canva.com/EAEygC3Vm_s/1/0/1600w/canva-orange-collage-toys-discount-banner-rSw5tj1gayE.jpg"
            alt=""
          />
          <div class="px-5 py-4">
            <h2 class="w-[400px] mb-3 font-bold text-[20px]">
              6 đồ chơi dân gian cho không khi tết thêm nhộn nhịp
            </h2>
            <p class="w-[400px] text-gray-400 font-sans">
              Đồ chơi dân gian không khí giúp trẻ em thêm hào hứng và vui vẻ
              trong dịp tết, mà còn gợi nhắc người lớn về...
            </p>
          </div>
        </div>
        <div class="border border-gray-500 shadow-sm">
          <img
            src="https://marketplace.canva.com/EAEygC3Vm_s/1/0/1600w/canva-orange-collage-toys-discount-banner-rSw5tj1gayE.jpg"
            alt=""
          />
          <div class="px-5 py-4">
            <h2 class="w-[400px] mb-3 font-bold text-[20px]">
              6 đồ chơi dân gian cho không khi tết thêm nhộn nhịp
            </h2>
            <p class="w-[400px] text-gray-400 font-sans">
              Đồ chơi dân gian không khí giúp trẻ em thêm hào hứng và vui vẻ
              trong dịp tết, mà còn gợi nhắc người lớn về...
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- LOGO THƯƠNG HIỆU ĐỒ CHƠI -->
    <div>
      <h2
        class="text-2xl font-bold font-sans bg-[#313131] dark:text-white p-3 rounded-lg inline-block mb-6"
      >
        Thương hiệu đồ chơi nổi bật
      </h2>
      <div class="grid grid-cols-9 gap-10">
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
        <div>
          <img src="/assets/public/images/logo-bike.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
