<div>
  <div class="inline-flex items-center justify-center w-full mb-6">
    <hr class="w-full h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <span
      class="absolute p-3 rounded-lg font-BOLD text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-[#313131]"
      >TẤT CẢ SẢN PHẨM</span
    >
  </div>

  <div class="mb-6">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
      >Search</label
    >
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        [(ngModel)]="filterValue"
        (input)="filter()"
        id="default-search"
        class="block w-full p-4 ps-10 text-sm text-black-900 border border-gray-300 rounded-lg bg-gray-50"
        placeholder="Search Mockups, Logos..."
        required
      />
    </div>
  </div>

  <div class="grid grid-cols-5 gap-4 mb-6">
    <div
      *ngFor="
        let product of filteredProduct
          | paginate
            : {
                itemsPerPage: 5,
                currentPage: pageNum,
                totalItems: total
              }
      "
    >
      <div
        class="border-solid border-2 border-gray-600-500 shadow-md flex p-3 flex-col"
      >
        <a routerLink="/sanpham/{{ product.id }}" class="flex-1">
          <div class="hover:opacity-60 cursor-pointer flex flex-col">
            <div class="mb-3">
              <img src="{{ product.image }}" alt="" class="w-full" />
            </div>
            <div class="mb-3 flex-1">
              <div>
                <p class="text-[16px] h-16 overflow-hidden font-bold">
                  {{ product.name }}
                </p>
                <p>
                  <strong class="text-red-500">{{
                    product.price | number : "1.0-0"
                  }}</strong>
                </p>
              </div>
            </div>
          </div>
        </a>
        <button
          (click)="addToCart(product.id, 1)"
          class="bg-red-600 p-1 w-full cursor-pointer text-white font-bold"
        >
          Mua ngay
        </button>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <pagination-controls
    (pageChange)="nextPage($event)"
    previousLabel="Trước"
    nextLabel="Sau"
    [responsive]="true"
    [autoHide]="true"
  ></pagination-controls>
</div>
