<div class="p-2 relative overflow-x-auto shadow-md sm:rounded-lg">
  <div
    class="mb-2 p-2 text-black shadow-md bg-white border border-gray-300 rounded-md"
  >
    <h1 class="font-bold mb-2 text-center underline text-[25px]">
      LỊCH SỬ ĐƠN HÀNG
    </h1>
    <div>
      <h3 class="italic text-red-500 mb-2">Lưu ý:</h3>
      <p class="w-[500px] leading-6">
        Đây là nơi tổng hợp các các sản phẩm bạn đã mua, các sản phẩm sẽ được
        lưu trong từng đơn hàng theo đợt mua của bạn
        <strong>(Click xem đơn hàng để xem từng sản phẩm đã mua)</strong>
      </p>
    </div>
  </div>

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">STT</th>
        <th scope="col" class="px-6 py-3">Danh sách đơn hàng</th>
        <th scope="col" class="px-6 py-3">Tên người đặt</th>
        <th scope="col" class="px-6 py-3">Số điện thoại người đặt</th>
        <th scope="col" class="px-6 py-3">Địa chỉ người đặt</th>
        <th scope="col" class="px-6 py-3">Tùy chọn</th>
      </tr>
    </thead>
    <!-- <tbody>
        @for (bill of detailBill; track $index) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ $index }}
          </th>
          <td class="px-6 py-4">{{ bill.nameProduct }}</td>
          <td class="px-6 py-4">{{ getNameCategory(bill.cateProduct) }}</td>
          <td class="px-6 py-4">{{ bill.priceProduct }}</td>
        </tr>
        }
      </tbody> -->

    <tbody>
      @for (idBill of listIdBill; track $index) {
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ $index + 1 }}
        </th>
        <td class="px-6 py-4">Đơn hàng số {{ $index + 1 }}</td>
        <td class="px-6 py-4">{{ idBill.name }}</td>
        <td class="px-6 py-4">{{ idBill.phone }}</td>
        <td class="px-6 py-4">{{ idBill.address }}</td>
        <td class="px-6 py-4">
          <a
            class="text-red-500 hover:text-blue-950 cursor-pointer"
            (click)="viewBill(idBill.id)"
            >Xem chi tiết đơn hàng</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
